/* Basic styling  */
$background-color: #C2D8AE;
$screen-color: #E8EC67;
$body-color: #D5E28B;
$button-color-1: #967D69;
$button-color-2: #92B9BD;
*{
    box-sizing: border-box;
}
body{
    background: $background-color;
}
.calculator{
    width: 370px;
    height: fit-content;
    outline: 1px solid rgb(177, 150, 150);
    border-radius: 35px;
    margin-left: 100px;
    margin-top: 100px;
    background-color: $body-color;
    position: relative;
    &__screen{
        border-radius: 35px;
        background-color: $screen-color;
        width: 370px;
        height: 190px;
        position: relative;
        &__calculs{
            position: absolute;
            bottom: 80px;
            right: 20px;
        }
        &__calculs-result{
            position: absolute;
            bottom: 0px;
            right: 20px;
            font-size: 1.8rem;
        }
    }
    &__keys-container{
        border-bottom-left-radius: 35px;
        position: relative;
        padding-top: 40px;
        &::after{
            content: '';
            position: absolute;
            top: 40px;
            width: 100%;
            left: 0;

            border: 1px solid rgb(134, 109, 109);
        }
        button{
            border: 0;
            width: 89.4px;
            height: 80px;
            background: transparent;
            font-size: 1.3em;
            position: relative;
        }
        button:nth-child(1)::after{
            @extend .after
        }
        button:nth-child(5)::after{
            @extend .after
        }
        button:nth-child(9)::after{
            @extend .after
        }
        button:nth-child(13)::after{
            @extend .after
        }



        button:nth-child(1)::before{
            @extend .before
        }
        button:nth-child(2)::before{
            @extend .before
        }
        button:nth-child(3)::before{
            height: 317px !important;
            @extend .before;
        }
        
        button:nth-child(17){
            border-bottom-left-radius: 35px;
        }
        
    }
}

.after{
    position: absolute;
    content: '';
    width: 370px;
    border: 1px solid rgb(134, 109, 109);
    left: 0;
    bottom: 0;
}
.before{
    position: absolute;
    content: '';
    height: 398px;
    border: 1px solid rgb(134, 109, 109);
    right: 0;
    top: 0;
}
/* center calculator */

/* CSS for screen and screenContent , calculation , result */

/* CSS For table tr td and button keys , operator keys , math keys  */

/* CSS for button hover  */